@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Varela+Round&display=swap');

body{
    background-color: rgb(231, 231, 236);
}

*{
    margin:  0;
    padding: 0;
}
nav{
    font-family: "Ubuntu Sans", sans-serif; 
    color: aliceblue;
    
}
nav ul{
  
    align-items: center;
    display: flex;
    list-style-type: none;
    height: 80px;  
    background-color: black; 
  
}
.brand img{
     width: 65px; 
     margin: 10px;
     margin-left: 100px; 


}
.brand{
    
    display:flex;
    align-items: center; 
    font-weight: bolder;
    font-size: 2rem; 

}
nav ul li{
    display:flex;
    padding-left: 10px;
    text-align: right; 
    cursor: pointer;
}
nav li{
    margin: 10px;
}
.home{
    margin-left: 1200px;
}

.container{
    color: white;
    display: column;
    height: 70.1vh;
    width: 70%;
    background-color: black;
    margin: 23px auto;
    border-radius: 13px;
    padding: 15px;
    background-image: url(bg.jpg);
}

.bottom{
    color: white;
    position: sticky;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icon{
    margin: 20px;
  }

.icon i{
    cursor: pointer;
}
#voliumBar{
    width:80vw;
}
.songItem{
    display: flex;
    height: 50px;
    width: 30%;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin: 23px;
}
.songItem img{
    width: 40px;
    height: 40px;
    border-radius: 70px;
    margin: 7.5px;
}
.timeStamp{
    margin-right: 23px;
    cursor: pointer;
}

.songInfo{
     position: absolute;
     left: 12vw;

}
.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}